@model PortfolioStarlab.Models.Contact
<div class="topmenu">
    <h2>HELLO WORLD</h2>
    <h1>I'M AGONIS BYTYQI</h1>
    <h4>| .NET DEVELOPER | BACK-END DEVELOPER |</h4>
    <!--
    <a href="#aboutme" class="aboutmebutton">MORE ABOUT ME</a>
    -->
    <a href="cv/AGONISBYTYQI-CV.pdf" class="aboutmebutton" download>DOWNLOAD CV</a>
</div>
<section id="about">
    <div class="container">
        <div class="section-header">
            <div class="fancy"><span></span></div>
            <h2 class="test">About Me</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1 scrollimation fade-right in">
                <img class="img-responsive img-circle img-center" src="images/image1.jpeg" alt="" style="border-radius: 1400px;">
            </div>
            <div class="col-sm-6 col-sm-offset-1 scrollimation fade-left in">
                <p style="text-align: center; padding: 75px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">I am <strong>Agonis Bytyqi</strong> a 22 year old Back-End/Developer from Gjakova. I studying a Bachelor degree of Computer Science & Engineering, from the UBT. I have a passion for programming.</p>
            </div>
        </div>
    </div>
    <div class="fancy"><span></span></div>
    <h2 style="text-align: center;">SKILLS</h2>
    <div id="counter" class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="counter">
                            <div class="col-xs-6 facts">
                                <div class="count-box" style="color: white;">
                                    <i class="fa fa-mobile"></i>
                                    <h4 class="count">420</h4>
                                    <p class="small">Mobile Apps</p>
                                </div>
                            </div>
                            <div class="col-xs-6 facts">
                                <div class="count-box" style="color: white;">
                                    <i class="fa fa-user"></i>
                                    <h4 class="count">625</h4>
                                    <p class="small">Web Apps</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="counter">
                            <div class="col-xs-6 facts">
                                <div class="count-box" style="color: white;">
                                    <i class="fa fa-arrows"></i>
                                    <h4 class="count">805</h4>
                                    <p class="small">UI Designs</p>
                                </div>
                            </div>
                            <div class="col-xs-6 facts">
                                <div class="count-box" style="color: white;">
                                    <i class="fa fa-download"></i>
                                    <h4 class="count">152</h4>
                                    <p class="small">Project</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <div class="skills">
                            <div class="skillset">
                                <p>HTML5/CSS3/JS</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                        <span class="sr-only">90% Complete</span>
                                    </div>
                                </div>
                            </div>
                            <div class="skillset">
                                <p>ASP.NET</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                            </div>
                            <div class="skillset">
                                <p>WordPress</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 89%;">
                                        <span class="sr-only">50% Complete</span>
                                    </div>
                                </div>
                            </div>
                            <div class="skillset">
                                <p>Java/PHP/React.Js</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                        <span class="sr-only">50% Complete</span>
                                    </div>
                                </div>
                            </div>
                            <div class="skillset">
                                <p>Development</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                        <span class="sr-only">50% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<div class="fancy"><span></span></div>
<h2 style="color: black; text-align: center;">PROJECTS</h2>
<section class="cards-wrapper">
    <div class="card-grid-space">
        <a class="card" href="https://maximusi.com/home" style="background-image: url('/images/maximusi.png'); background-size: contain; background-repeat: no-repeat;">
            <div>
                <p>Used: PHP</p>
                <div class="date">MAY 2021</div>
                <div class="tags">
                    <div class="tag">Maximusi</div>
                </div>
            </div>
        </a>
    </div>
    <div class="card-grid-space" id="projects">
        <a class="card" href="https://github.com/agonisbytyqi" style="background-image: url('images/edukids.png');  background-repeat: no-repeat;">
            <div>
                <p>Used: ASP.NET, SQL</p>
                <div class="date">JAN 2022</div>
                <div class="tags">
                    <div class="tag">EduKids</div>
                </div>
            </div>
        </a>
    </div>
    <div class="card-grid-space">
        <a class="card" href="https://github.com/agonisbytyqi" style="background-image: url('images/kostourtrip.png');">
            <div>
                <p>Used: ASP.NET, REACT.JS, SQL</p>
                <div class="date">AUG 2021</div>
                <div class="tags">
                    <div class="tag">Travel WebApp</div>
                </div>
            </div>
        </a>
    </div>
</section>
<div class="fancy"><span></span></div>
<h2 style="color: black; text-align: center;">CONTACT ME</h2>
<div id="contact" class="section" style="display: flex;">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <address>
                    <p><i class="fa fa-phone"></i> +38349875338</p>
                    <p><i class="fa fa-envelope-o"></i> bytyqiagonis@gmail.com</p>
                    <p><i class="fa fa-map-marker"></i> Gjakove</p>
                </address>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-10 wow fadeInUp" data-wow-delay="0.6s">
                @using (Html.BeginForm("Create", "Contacts", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.TextBoxFor(m => m.FullName, new { @placeholder = "Full Name" })
                    @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email" })
                    @Html.TextBoxFor(m => m.Message, new { @placeholder = "Message" })
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @placeholder = "Phone Number" })
                    <input name="send" type="submit" class="form-control" id="send" value="SEND ME">
                }
            </div>
            <div class="col-md-1 col-sm-1"></div>
        </div>
    </div>
</div>
